body{
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:black;
    margin:0
}
.digital-clock{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:5em;
    color:red;
    padding: 20px;
    border:2px solid black;
    border-radius:10px;
    background-color:grey ;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;

}

